# Verification

In the Tella settings, users can activate "Verification Mode". When activated, every time a user takes a photo or a video, or records audio, Tella automatically captures metadata (data about the file). This metadata can be used to corroborate evidence, cross check with other facts known about the event or about the area where it was captured.

Below is a list of each piece of metadata captured by Tella:

**Information about the file:**&#x20;

* File path: where the file was located in the Tella directory
* File hash: a unique number to identify the file
* File modified: the date and time the file was last modified on the device

**Information about the device:**&#x20;

* Manufacturer: the name of the device manufacturer
* Hardware: the exact model of the device
* Device ID: a unique number identifying the Android device
* Screen size: the exact screen size of the device
* Language: the language the device's operating system is set to
* Locale: the geographic region the device is set to
* Connection status: whether the device is connected or disconnected to the internet
* Network type: if the device is connected to the internet, specifies whether it is to a WiFi network or to a cellular network
* Wi-Fi MAC: a unique identifier to the device's Wi-Fi connector
* IPv4: a unique address identifying the device's internet connection
* IPv6: a more recent identifier to a device's internet connection

**Information about the environment where the file was captured:**&#x20;

* Location: the exact location of the device, include latitude and longitude coordinates, altitude in meters, the accuracy of the measurement in meters, and the time
* Location provider: how device location is determined
* Location speed: the speed at which the device is traveling
* Cell info: the identifying numbers of all the cell towers the device is connected to
* WiFi info: the name of all WiFi networks in the vincinity of the device
